# /etc/systemd/system
[Unit]
Description=Prefect Server
Wants=network-online.target
After=network-online.target
[Service]
User=cliff
Group=cliff
Type=simple
Restart=always
RestartSec=5
ExecStart=/home/cliff/dev/market-watch/etl/prefect-server/run.sh
[Install]
WantedBy=multi-user.target
